{% extends 'base.html.twig' %}

{% block title %}Edit Animaux{% endblock %}

{% block body %}
    <h1 >Editez {{ animaux.nom }}</h1>

    {{ include('animaux/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <br>
    <a class="btn btn-warning" href="{{ path('app_animaux_index') }}">Retour à la liste</a>

    {{ include('animaux/_delete_form.html.twig') }}
{% endblock %}
