{% extends 'base.html.twig' %}

{% block title %}New Enclos{% endblock %}

{% block body %}
    <h1>Créez un nouvel Enclos</h1>

    {{ include('enclos/_form.html.twig') }}
<br>
    <a class="btn btn-warning" href="{{ path('app_enclos_index') }}">Retour à la liste</a>
{% endblock %}
